<%= form_with(model: episode, local: true, html: {class: "form-horizontal"}) do |form| %>
  <% if episode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(episode.errors.count, "error") %> prohibited this episode from being saved:</h2>

      <ul>
      <% episode.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!-- <fieldset> -->

  <!-- Episode ID-->
  <div class="form-group">
    <%= form.label :id, 'Episode ID', class: "col-md-2 control-label" %>
    <div class="col-md-4">
      <%= form.number_field :id, id: :episode_id, class: "form-control input-md", placeholder: "Episode ID", required: "true", disabled: episode.persisted? %>
    </div>
  </div>

  <!-- Narrative-->
  <div class="form-group">
    <%= form.label :description, class: "col-md-2 control-label" %>
    <div class="col-md-6">
      <%= form.text_area :description, id: :episode_description, class: "form-control input-md", placeholder: "Enter description here" %>
    </div>
  </div>

  <div class="actions col-md-2">
    <% if logged_in? %>
      <%= form.submit 'Save', class: "btn btn-success" %>
    <% else %>
      <%= link_to("Login to Save", login_path, target: :_blank, class: "btn btn-sm btn-create btn-default") %>
    <% end %>
  </div>

  <!-- </fieldset> -->
<% end %>

