<% provide(:title, "Episodes") %>
<p id="notice"><%= notice %></p>

<div class="panel panel-default panel-table" style="margin-top: -25px">
  <div class="panel-heading">
    <div class="row">
      <div class="col col-xs-6">
        <h1 class="panel-title text-left" style="font-size: 32px;">Storm Episodes</h1>
      </div>
      <div class="col col-xs-6 text-right">
        <%=
          link_to_if(logged_in?, "New Episode",  new_episode_path, class: "btn btn-sm btn-primary btn-create") do
            link_to("Login to Edit", login_path, target: :_blank, class: "btn btn-sm btn-create btn-default")
          end
        %>
      </div>
    </div>
  </div>
  <div class="panel-body" style="margin-top: 0px">
    <table class="table table-hover table-bordered table-list" id="episodes-table" >
      <thead>
        <tr>
          <th style="width: 70px">Episode</th>
          <th>Description</th>
          <% if logged_in? %>
            <th style="text-align: center"> Actions </th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @episodes.each do |episode| %>
          <tr>
            <td><%= link_to episode.id, episode %></td>
            <td><%= episode.description %></td>
            <% if logged_in? %>
              <td style="width: 80px"><%= link_to ' Edit', edit_episode_path(episode), class: "btn btn-primary btn-xs", style: "margin-right: 10px" %><%= link_to ' X', episode, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div style="margin-top: -20px">
    </div>
  </div>
</div>

<br>
