<% provide(:title, "Details") %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Episode ID:</strong>
  <%= @episode.id %>
</p>

<p>
  <strong>Episode Narrative:</strong>
  <%= @episode.description %>
</p>

<p>
  <strong>Events:</strong>
  <% @episode.events.each do |event| %>
    <%= link_to event.id, event %>
  <% end %>
</p>

<p>
  <%=
    link_to_if(logged_in?, "Edit",  edit_episode_path(@episode), class: "btn btn-primary") do
      link_to("Login to Edit", login_path, target: :_blank, class: "btn btn-default")
    end
  %>
  <%= link_to 'Back to Episodes', episodes_path, class: "btn btn-primary" %>
  <%= link_to_if(logged_in?, 'X', @episode, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger") %>
</p>