<%= form_with(model: event, local: true, html: {class: "form-horizontal"}) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!-- <fieldset> -->

  <!-- Event ID-->
  <div class="form-group">
    <%= form.label :id, 'Event ID', class: "col-md-4 control-label" %>
    <div class="col-md-4">
      <%= form.number_field :id, id: :event_id, class: "form-control input-md", placeholder: "Event ID", required: "true" %>
    </div>
  </div>

  <!-- Storm Type-->
  <div class="form-group">
    <%= form.label :storm_type, 'Storm Type', class: "col-md-4 control-label" %>
    <div class="col-md-3">
      <%= form.text_field :storm_type, id: :event_storm_type, class: "form-control input-md", placeholder: "Thunderstorm Wind, Flood, etc.", required: "" %>
    </div>
  </div>

  <!-- Begin Time-->
  <div class="form-group form-inline">
    <%= form.label :begin_time, 'Begin Time', class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= form.datetime_select :begin_time, { order: [:day, :month, :year] }, { id: :event_begin_time, class: "form-control input-md", required: "true"} %>
    </div>
  </div>

  <!-- End Time-->
  <div class="form-group form-inline">
    <%= form.label :end_time, 'End Time', class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= form.datetime_select :end_time, { order: [:day, :month, :year] }, { id: :event_end_time, class: "form-control input-md"} %>
    </div>
  </div>


  <!-- Source-->
  <div class="form-group">
    <%= form.label :storm_type, 'Source', class: "col-md-4 control-label" %> 
    <div class="col-md-4">
      <%= form.text_field :source, id: :event_source, class: "form-control input-md", placeholder: "Law Enforcement, Trained Spotter, etc.", required: "" %>
    </div>
  </div>

  <!-- State -->
  <div class="form-group">
    <%= form.label :state, class: "col-md-4 control-label", for: "selectbasic" %>
    <div class="col-md-4">
      <%= collection_select(:event, :state_fips, UsState.all, :id, :name, { selected: @event.state_fips }, { class: "form-control", required: "true" } )%>
    </div>
  </div>

  <!-- County -->
  <div class="form-group">
    <%= form.label :county, class: "col-md-4 control-label", for: "selectbasic" %>
    <div class="col-md-4">
      <%= collection_select(:event, :county_fips, County.where(us_state_id: @event.state_fips), :fips, :name, {}, { class: "form-control", required: "true" } ) %>
    </div>
  </div>

  <!-- Forecast Office -->
  <div class="form-group">
    <%= form.label :forecast_office, 'Forecast Office', class: "col-md-4 control-label", for: "selectbasic" %>
    <div class="col-md-4">
      <%= collection_select(:event, :forecast_office, ForecastOffice.all, :id, :name, { :selected => @event.forecast_office }, { class: "form-control", required: "true"} )%>
    </div>
  </div>

  <!-- Magnitude-->
  <div class="form-group">
    <%= form.label :magnitude, class: "col-md-4 control-label" %>
    <div class="col-md-2">
      <%= form.number_field :magnitude, id: :event_magnitude, class: "form-control input-md", placeholder: "Magnitude" %>
    </div>
  </div>

  <!-- Magnitude Type-->
  <div class="form-group">
    <%= form.label :magnitude_type, 'Magnitude Type', class: "col-md-4 control-label" %>
    <div class="col-md-2">
      <%= form.text_field :magnitude_type, id: :event_magnitude_type, class: "form-control input-md", placeholder: "MG, EG, etc." %>
    </div>
  </div>

  <!-- Property Damage-->
  <div class="form-group">
    <%= form.label :property_damage, 'Property Damage (In 1000 USD)', class: "col-md-4 control-label" %>
    <div class="col-md-2">
      <%= form.text_field :property_damage, id: :event_property_damage, class: "form-control input-md", placeholder: "0, 10, 55, 100, etc.", value: 0 %>
    </div>
  </div>

  <!-- Crop Damage-->
  <div class="form-group">
    <%= form.label :crop_damage, 'Crop Damage (In 1000 USD)', class: "col-md-4 control-label" %>
    <div class="col-md-2">
      <%= form.text_field :crop_damage, id: :event_crop_damage, class: "form-control input-md", placeholder: "0, 10, 55, 100, etc.", value: 0 %>
    </div>
  </div>

  <!-- Narrative-->
  <div class="form-group">
    <%= form.label :narrative, 'Narrative', class: "col-md-4 control-label" %>
    <div class="col-md-6">
      <%= form.text_area :narrative, id: :event_narrative, class: "form-control input-md", placeholder: "Enter the description of the event" %>
    </div>
  </div>

  <!-- Episode-->
  <div class="form-group">
    <%= form.label :episode_id, 'Episode ID', class: "col-md-4 control-label" %>
    <div class="col-md-2">
      <%= form.text_field :episode_id, id: :event_episode_id, class: "form-control" %>
    </div>
    <h4>Enter an existing episode ID. To enter a new one, <%= link_to 'click here', new_episode_path, target: :_blank %></h4>
  </div>

  <!-- Locations -->
  <legend class="col-form-legend" style="font-size: 15px; font-weight: bold">
    Locations <%= form.add_nested_fields_link :locations, '+', class: "btn btn-primary" %>
  </legend>
  <%= form.nested_fields_for(:locations, { class: "form-horizontal" }) do |form_loc| %>
    <%= render "location_fields", :f => form_loc %>
  <% end %>

  <!-- Fatalities -->
  <legend class="col-form-legend" style="font-size: 15px; font-weight: bold">Fatalities <%= form.add_nested_fields_link :fatalities, '+', class: "btn btn-primary"  %></legend>
    <%= form.nested_fields_for(:fatalities, { class: "form-horizontal" }) do |form_loc| %>
      <%= render "fatality_fields", :f => form_loc %>
  <% end %>

  <div class="actions col-md-2">
    <% if logged_in? %>
      <%= form.submit 'Save', class: "btn btn-success" %>
    <% else %>
      <%= link_to("Login to Save", login_path, target: :_blank, class: "btn btn-sm btn-create btn-default") %>
    <% end %>
  </div>

  <!-- </fieldset> -->
<% end %>

