<% provide(:title, "Events") %>
<p id="notice"><%= notice %></p>

<div class="panel panel-default panel-table" style="margin-top: -25px">
  <div class="panel-heading">
    <div class="row">
      <div class="col col-xs-6">
        <h1 class="panel-title text-left" style="font-size: 32px;">Storm Events</h1>
      </div>
      <div class="col col-xs-6 text-right">
        <%=
          link_to_if(logged_in?, "New Event",  new_event_path, class: "btn btn-sm btn-primary btn-create") do
            link_to("Login to Edit", login_path, target: :_blank, class: "btn btn-sm btn-create btn-default")
          end
        %>
      </div>
    </div>
  </div>
  <div class="panel-body" style="margin-top: 0px">
    <table class="table table-hover table-bordered table-list" id="events-table" >
      <thead>
        <tr>
          <th style="width: 70px">Event</th>
          <th>Strom Type</th>
          <th>County</th>
          <th>State</th>
          <th>Begin Time</th>
          <th>Source</th>
          <th>Damages</th>
          <% if logged_in? %>
            <th style="text-align: center"> Actions </th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><%= link_to event.id, event %></td>
            <td><%= event.storm_type %></td>
            <td><%= event.county_name %></td>
            <td><%= event.state_name %></td>
            <td><%= event.begin_time.strftime('%b %d, %Y %H:%M') %><%= " " + event.timezone %></td>
            <td><%= event.source %></td>
            <td><%= trim_number(event.property_damage).to_s + "K" %></td>
            <% if logged_in? %>
              <td style="width: 80px"><%= link_to ' Edit', edit_event_path(event), class: "btn btn-primary btn-xs", style: "margin-right: 10px" %><%= link_to 'X', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div style="margin-top: -20px">
    </div>
  </div>
</div>

<br>
