<% provide(:title, "Details") %>
<p id="notice"><%= notice %></p>

<% if @event.locations %>
  <div class="pull-right" id="storm-map">
  </div>
  <% @event.locations.each do |location| %>
    <% puts location.latitude %>
    <%= javascript_tag do %>
      addMarker(<%= location.latitude %>, <%=location.longitude %>);
    <% end %>
  <% end %>
<% end %>

<p>
  <strong>Event ID:</strong>
  <%= @event.id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @event.storm_type %>
</p>

<p>
  <strong>Begin time:</strong>
  <%= @event.begin_time.strftime('%a, %b %d, %Y %H:%M') %>
  <%= " " + @event.timezone %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time.strftime('%a, %b %d, %Y %H:%M') %>
  <%= " " + @event.timezone %>
</p>

<p>
  <strong>County FIPS:</strong>
  <%= @event.county_fips %>

  <strong>County Name:</strong>
  <%= @event.county_name %>
</p>

<p>
  <strong>State FIPS:</strong>
  <%= @event.state_fips %>
  <strong>State Name:</strong>
  <%= @event.state_name %>
</p>

<p>
  <strong>Source:</strong>
  <%= @event.source %>
</p>

<p>
  <strong>Forecast office:</strong>
  <%= @event.forecast_office + ", " + @event.forecast_office_name.capitalize + ", " + @event.forecast_office_state.capitalize %>

</p>

<p>
  <strong>Magnitude:</strong>
  <%= @event.magnitude %>
</p>

<p>
  <strong>Magnitude type:</strong>
  <%= @event.magnitude_type %>
</p>

<p>
  <strong>Property damage (In thousand USD):</strong>
  <%= @event.property_damage %>
</p>

<p>
  <strong>Crop damage (In thousand USD):</strong>
  <%= @event.crop_damage %>
</p>

<p>
  <strong>Fatalities:</strong>
  <% if @event.fatalities %>
    <% @event.fatalities.each do |fatality| %>
      <ul class="list-inline col-md-12">
        <strong>Date: </strong><%= " " + fatality.fatality_date.strftime('%b %d, %Y') %>
        <strong>Age: </strong><%= " " + fatality.age.to_s %>
        <strong>Sex: </strong><%= " " + fatality.sex.to_s %>
        <strong>Location: </strong><%= " " + fatality.location %>
      </ul>
    <% end %>
  <% end %>
</p>

<p>
  <strong>Narrative:</strong>
  <%= @event.narrative %>
</p>

<p>
  <strong>Episode:</strong>
  <%= link_to @event.episode.id, @event.episode %>
  <br/>
  <strong>Episode Narrative:</strong>
  <%= @event.episode.description %>
</p>

<p>
  <%=
    link_to_if(logged_in?, "Edit",  edit_event_path(@event), class: "btn btn-primary") do
      link_to("Login to Edit", login_path, target: :_blank, class: "btn btn-default")
    end
  %>
  <%= link_to 'Back to Events', event_path, class: "btn btn-primary" %>
  <%= link_to_if(logged_in?, 'X', @event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger") %>
</p>
